<div class="flex space-x-4 text-gray-600">
  <a href="https://www.linkedin.com/in/juanpablomedina" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin text-2xl hover:text-blue-700"></i>
  </a>
  <a href="https://github.com/juanpablomedina" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github text-2xl hover:text-gray-800"></i>
  </a>
  <a href="https://instagram.com/juanpablomedina" target="_blank" aria-label="Instagram">
    <i class="fa-brands fa-instagram text-2xl hover:text-pink-500"></i>
  </a>
</div>
